@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Kavoon";
    src: url("./assets/fonts/Kavoon/Kavoon-Regular.ttf");
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: "Kavoon", cursive;
    background-color: theme("colors.indigo.400");
    color: #fff;
    height: 100vh;
}

#root{
    height: 100%;
}

* {
    text-shadow: 0 0 4px #000; /* horizontal-offset vertical-offset 'blur' colour */
    -moz-text-shadow: 0 0 4px #000;
    -webkit-text-shadow: 0 0 4px #000;
}

.card {
    background-color: theme("colors.indigo.500");
    border-radius: theme("borderRadius.lg");
    padding: theme("spacing.6");
    box-shadow: theme("boxShadow.xl");
    color: theme("colors.white");
}

.container-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
    background: theme("colors.indigo.500");
    box-shadow: -8px -8px 26px rgba(255, 255, 255, 0.48),
        18px 18px 26px rgba(0, 0, 0, 0.33),
        inset 0px 4px 42px rgba(0, 0, 0, 0.06);
    color: theme("colors.white");
    width: max-content;
}

.btn:hover {
    background: theme("colors.indigo.600");
}

.btn:active {
    box-shadow: inset -6px -6px 12px rgba(255, 255, 255, 0.25),
        inset 6px 6px 12px rgba(0, 0, 0, 0.25);
}

.container-convex{
    box-shadow: -8px -8px 26px rgba(255, 255, 255, 0.48),
        18px 18px 26px rgba(0, 0, 0, 0.33),
        inset 0px 4px 42px rgba(0, 0, 0, 0.06);
}

.container-concave{
    box-shadow: inset -6px -6px 12px rgba(255, 255, 255, 0.25),
        inset 6px 6px 12px rgba(0, 0, 0, 0.25);
}

aside{
    
}

@media screen and (min-width: 425px) {
    .Main__containerWrapper {
        flex-direction: row;
    }
}
